<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2815D44A-A181-4406-8E30-D17DB3A80CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF93F839-D974-4004-8570-5FD0E46331ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Xiaoshan Huang</string>
	<key>description</key>
	<string>goagent</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>goagent</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>goagent</string>
				<key>subtext</key>
				<string>goagent</string>
				<key>text</key>
				<string>goagent</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2815D44A-A181-4406-8E30-D17DB3A80CD5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python ~/Source/goagent/local/proxy.py</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>BF93F839-D974-4004-8570-5FD0E46331ED</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2815D44A-A181-4406-8E30-D17DB3A80CD5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BF93F839-D974-4004-8570-5FD0E46331ED</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
