<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>sitesearch.lucifr.com</string>
	<key>connections</key>
	<dict>
		<key>CE81B4AD-9770-48BF-B613-293D55641D93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E8B09FD-5A90-454A-B586-0BB9523D465E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard '{query}'</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EFC4EB74-878E-47A2-9B25-8F57BB0E5A23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3A3F442C-5908-474D-A72F-E76224F24200</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to Clipboard '{query}'</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lucifr</string>
	<key>description</key>
	<string>Search a site on Google</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Site Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3A3F442C-5908-474D-A72F-E76224F24200</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>site</string>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();
$query = "{query}";
$key = "AIzaSyDaOBwdoa1kILgqWuNbn-vWXPeA87SP8fc";
$pattern = '/^(\S+) (.+)/';
preg_match($pattern,$query,$match);
$site = $match[1];
$query = urlencode( $match[2] );
$url = "http://ajax.googleapis.com/ajax/services/search/web?v=1.0&amp;key=$key&amp;q=$query%20site:$site&amp;rsz=large";
$data = $w-&gt;request( $url );
$data = json_decode( $data );
$w-&gt;result( 'sitesearch', $data-&gt;responseData-&gt;cursor-&gt;moreResultsUrl, 'Search \''. $site .'\' for \''. $match[2] .'\'', 'Find more results on Google', 'icon.png', 'yes' );
foreach( $data-&gt;responseData-&gt;results as $results ):
	$w-&gt;result( $results-&gt;cacheUrl, $results-&gt;url, $results-&gt;titleNoFormatting, strip_tags($results-&gt;content), 'icon.png' );
endforeach;
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Follow the 'domain.com query' pattern</string>
				<key>title</key>
				<string>Site Search</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE81B4AD-9770-48BF-B613-293D55641D93</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>URL copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3E8B09FD-5A90-454A-B586-0BB9523D465E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EFC4EB74-878E-47A2-9B25-8F57BB0E5A23</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Thanks to:

* David Ferguson's Workflows class: http://dferg.us/workflows-class/</string>
	<key>uidata</key>
	<dict>
		<key>3A3F442C-5908-474D-A72F-E76224F24200</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3E8B09FD-5A90-454A-B586-0BB9523D465E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CE81B4AD-9770-48BF-B613-293D55641D93</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EFC4EB74-878E-47A2-9B25-8F57BB0E5A23</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://lucifr.com</string>
</dict>
</plist>
