<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>7EC68D6C-0B55-4471-8962-A428DAE431E9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>trans</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Google Translate</string>
			<key>url</key>
			<string>http://translate.google.com/#auto%7Czh-CN%7C{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
